<% provide(:title, "Employers") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="tabLink sr-only">Content starts here.</a>
  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
		  <% if user_signed_in? && current_user.is_employer? %>
		  <li class="parent"><%= link_to "Employers", employer_home_path %></li>
          <li class="active">Your Employer Account</li>
		  <% else %>
		  <li class="active">Employers</li>
		  <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="section one">

<% unless user_signed_in? && current_user.is_employer? %>
    <div class="row">
		<div class="small-12 columns">
		  <div class="small-12 medium-8 columns">
        <h3>Find the best candidates for your open positions.</h3>
        <p>
          Search our verified Veteran profiles. Post a job. And be sure to make a Veteran hiring commitment &mdash; put your company front and center as one that stands with America’s Veterans and their families.
        </p>
		  </div>
		  <div class="small-12 medium-4 columns feature">
        <h5>Employers:<br />Log in to create/manage your account.</h5>
        <div class="actions">
          <%= link_to "Sign in with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "button social linkedin expand" %> <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "button social googleplus expand" %>
	       </div>
		  </div>


  	</div><!-- end columns -->
	 </div><!-- end row 2 -->
 <% end %>

	<% if user_signed_in? && current_user.is_employer? %>
    <div class="row">
      <div class="small-12 columns">
        <div class="section-nav">
          <ul class="small-block-grid-1 medium-block-grid-3 cards small">
            <li>
			    <%= link_to edit_employer_path(current_user.employer ), class: 'long' do %>
                <h4 class="alternate">Manage Your Profile and Hiring Commitment</h4>
                <span>Update your basic account information and make a public commitment to Veterans.</span>
              <% end %>
            </li>
	    <li>
              <%= render 'employer_favorites_card' %>
            </li>
	    <li>
              <a href='https://employment.vets.gov/employment/employers/post-a-job/' class="long">
                <h4 class="alternate">Post a Job</h4>
                <span>Your listing will be searchable by our Veteran workforce and their families.</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	<% end %>


    <div class="row">
      <div class="small-12 columns">
        <div class="section-nav">
          <ul class="small-block-grid-1 medium-block-grid-3 cards medium">
            <li>
              <%= link_to veterans_path, class: "long" do %>
                <h4 class="alternate">Find Veteran Candidates</h4>
                <span>Leadership, problem solving, management, operations, customer service, sales, and a host of technical skills are just a few of their talents.
                <br/>
                View their profiles and save favorites.</span>
              <% end %>
            </li>
	    <li>
               <%= link_to commitments_path, class: "long" do %>
                 <h4 class="alternate">View all Hiring Commitments</h4>
                 <span>See who has made a public commitment to hire Veterans.</span>
               <% end %>
             </li>
          </ul>
        </div>
      </div>
    </div>


  </div>

  <!-- Navigation -->

  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <h3>Related Info:</h3>
        <ul class="small-block-grid-1 medium-block-grid-3 cards small">
          <li>
            <a href='https://employment.vets.gov/employment/employers/support-veteran-employees/'>
              <h5>Workplace Support</h5>
              <span>Find ways to make your Veteran employees feel at home.</span>
            </a>
	  </li>
          <li>
            <a href='https://employment.vets.gov/employment/employers/apprenticeship/'>
              <h5>Establish an Apprenticeship</h5>
              <span>Apprenticeship programs are available for Veterans using their VA education benefits.</span>
            </a>
	  </li>
        </ul>
      </div>
    </div>
  </div>
</div>
